p {
   font-size: 18px;
}
.jumbotron {
   background-color: black;
   text-align: center;
   color: #ffffff;
   margin-top: 50px;
}
.titulo {
   text-align: center;
}
/** Princicpal **/
.hotel {
   margin-left: 10px;
   flex: 1 200px;
   background-color: #eeeeee;
   border-style: inherit;
}
.btn-reserva {
   background-color: #373a40;
   color: #71b100;
   width: 100%;
}
.card-subtitle {
   padding-bottom: 5px;
}
#btn2 {
   margin-top: 25px;
}
#btn {
   margin-top: 58px;
}
img {
   max-width: 100%;
}

/** Footer **/
footer {
   padding: 10px 10px 10px 10px;
   background-color: #ffe05d;
   padding: 30px;
   margin-top: 15px;
}
.navegacion a {
   text-decoration: none;
   margin-right: 10px;
   margin-top: 40px;
   color: #373a40;
}
.btn-icon {
   font-size: 30px;
}
